parameters:
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php
        - src/HttpClientMock/CallbackHandler.php # needed because of unknown classes when installed with monolog 2.x
        - src/HttpClientMock/LegacyCallbackHandler.php # needed because of unknown classes when installed with monolog 2.x
        - src/ZipContents/ZipContents.php # remove after updating to thecodingmachine/safe >= 2.0
    ignoreErrors:
        # - '#Class DateTimeImmutable is unsafe to use#' # reactivate after updating to thecodingmachine/safe >= 2.0
        - '#Constructor in .* has parameter .* with default value#'
        - '#In method "Brainbits\\FunctionalTestHelpers\\Snapshot\\IsXml::.*", caught "Throwable" must be rethrown. Either catch a more specific exception or add a "throw" clause in the "catch" block to propagate the exception.#'
        - '#Method .* has a nullable return type declaration#'
        - '#Method .* has parameter .* with a nullable type declaration#'
        - '#Method .* has parameter .* with null as default value#'
        - '#Method Brainbits\\FunctionalTestHelpers\\Tests\\Snapshot\\.*SnapshotTest::assertMatches.*Snapshot\(\) is protected, but since the containing class is final, it can be private.#'
        - '#Method Brainbits\\FunctionalTestHelpers\\Tests\\ZipContents\\ZipContentsTraitTest::.* is protected, but since the containing class is final, it can be private#'
    ergebnis:
        classesAllowedToBeExtended:
            - Monolog\Handler\AbstractProcessingHandler
            - PHPUnit\Framework\Constraint\Constraint
            - RuntimeException

includes:
    - vendor/brainbits/phpstan-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
