parameters:
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php
        - src/HttpClientMock/CallbackHandler.php # needed because of unknown classes when installed with monolog 2.x
        - src/HttpClientMock/LegacyCallbackHandler.php # needed because of unknown classes when installed with monolog 2.x
        - src/ZipContents/ZipContents.php # remove after updating to thecodingmachine/safe >= 2.0
    ignoreErrors:
        - '#Constructor in .* has parameter .* with default value#'
        - '#In method "Brainbits\\FunctionalTestHelpers\\Snapshot\\IsXml::.*", caught "Throwable" must be rethrown. Either catch a more specific exception or add a "throw" clause in the "catch" block to propagate the exception.#'
        - '#In method "Brainbits\\FunctionalTestHelpers\\Tests\\Uuid\\UuidTraitTest::.*", caught "Throwable" must be rethrown. Either catch a more specific exception or add a "throw" clause in the "catch" block to propagate the exception.#'
        - '#Method Brainbits\\FunctionalTestHelpers\\Tests\\.*Test::assertMatches.*Snapshot\(\) is protected, but since the containing class is final, it can be private.#'
        - '#Method Brainbits\\FunctionalTestHelpers\\Tests\\.*Test::setUpSnapshot\(\) is protected, but since the containing class is final, it can be private.#'
        - '#Method Brainbits\\FunctionalTestHelpers\\Tests\\Request\\RequestTraitTest::.*\(\) is protected, but since the containing class is final, it can be private#'
        - '#Method Brainbits\\FunctionalTestHelpers\\Tests\\Uuid\\UuidTraitTest::.*\(\) is protected, but since the containing class is final, it can be private#'
        - '#Method Brainbits\\FunctionalTestHelpers\\Tests\\ZipContents\\ZipContentsTraitTest::.*\(\) is protected, but since the containing class is final, it can be private#'
    ergebnis:
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullableTypeDeclaration:
              enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noExtends:
            classesAllowedToBeExtended:
                - Monolog\Handler\AbstractProcessingHandler
                - PHPUnit\Framework\Constraint\Constraint
                - RuntimeException

includes:
    - %rootDir%/../../brainbits/phpstan-rules/rules.neon
    - %rootDir%/../../ergebnis/phpstan-rules/rules.neon
    - %rootDir%/../../jangregor/phpstan-prophecy/extension.neon
    - %rootDir%/../../phpstan/phpstan-phpunit/extension.neon
    - %rootDir%/../../phpstan/phpstan-phpunit/rules.neon
    - %rootDir%/../../phpstan/phpstan-symfony/extension.neon
    - %rootDir%/../../thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - %rootDir%/../../thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
